<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github_cenozon" value="https://nuget.pkg.github.com/cenozon/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github_cenozon>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github_cenozon>
        <github_pocketken>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github_pocketken>
    </packageSourceCredentials>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github_cenozon">
            <package pattern="Cenozon.*" />
            <package pattern="Controls.UserDialogs.Maui.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>